{% extends "layout.html" %}

{% block title %}
  COVID-19 Check?
{% endblock %}

{% block body %}
{% include 'partials/navbar.html' %}

<div id="home">
  <div class="symptom-form">
    {% block heading %}
      <h1>COVID-19 Symptom Form</h1>
    {% endblock %}

    <!-- The form -->
    <form action="{{ url_for('home') }}" method="post">

      <!-- Name -->
      <div class="form-group row">
        <label for="name" class="col-sm-2 col-form-label">Full Name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="name" placeholder="Kindly, provide your name." required>
        </div>
      </div>

       <!-- Email -->
      <div class="form-group row">
        <label for="email" class="col-sm-2 col-form-label">Email Address</label>
        <div class="col-sm-10">
          <input type="email" class="form-control" name="email" placeholder="Kindly, provide your email to receive the results." required>
        </div>
      </div>

      <!-- Age -->
      <div class="form-group row">
        <label for="age" class="col-sm-2 col-form-label">Age</label>
        <div class="col-sm-10">
          <input type="number" class="form-control" name="age" placeholder="What is your age?" required>
        </div>
      </div>

      <!-- Gender -->
      <fieldset class="form-group">
        <div class="row">
          <legend class="col-form-label col-sm-2 pt-0">Gender</legend>
          <div class="col-sm-10">
            <div class="form-check-inline">
              <input class="form-check-input" type="radio" name="gender" value="female" required>
              <label class="form-check-label" for="female">
                Female
              </label>
            </div>
            <div class="form-check-inline">
              <input class="form-check-input" type="radio" name="gender"  value="male">
              <label class="form-check-label" for="male">
                Male
              </label>
            </div>
          </div>
        </div>
      </fieldset>

      <!-- Weight -->
      <div class="form-group row">
        <label for="weight" class="col-sm-2 col-form-label">Weight (Kgs)</label>
        <div class="col-sm-10">
          <input type="number" class="form-control" name="weight" placeholder="What is your weight?" required>
        </div>
      </div>

      <!-- Height -->
      <div class="form-group row">
        <label for="height" class="col-sm-2 col-form-label">Height (cm)</label>
        <div class="col-sm-10">
          <input type="number" class="form-control" name="height" placeholder="What is your height?" required>
        </div>
      </div>

      <!-- Temperature -->
      <div class="form-group row">
        <label for="temperature" class="col-sm-2 col-form-label">Temperature</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="temperature" placeholder="Your temperature?" required>
        </div>
      </div>

      <!-- sp02 -->
      <div class="form-group row">
        <label for="age" class="col-sm-2 col-form-label">Sp02</label>
        <div class="col-sm-10">
          <input type="number" class="form-control" name="sp02" placeholder="Pulse Oximetry Level?" required>
        </div>
      </div>

      <!-- Fever -->
      <fieldset class="form-group">
        <div class="row">
          <legend class="col-form-label col-sm-2 pt-0">Fever</legend>
          <div class="col-sm-10">
            <div class="form-check-inline">
              <input class="form-check-input" type="radio" name="fever" value="yes" required>
              <label class="form-check-label" for="yes">
                Yes
              </label>
            </div>
            <div class="form-check-inline">
              <input class="form-check-input" type="radio" name="fever"  value="no" reuired>
              <label class="form-check-label" for="no">
                No
              </label>
            </div>
          </div>
        </div>
      </fieldset>

      <!-- Cough -->
      <fieldset class="form-group">
        <div class="row">
          <legend class="col-form-label col-sm-2 pt-0">Cough</legend>
          <div class="col-sm-10">
            <div class="form-check-inline">
              <input class="form-check-input" type="radio" name="cough" value="yes" required>
              <label class="form-check-label" for="yes">
                Yes
              </label>
            </div>
            <div class="form-check-inline">
              <input class="form-check-input" type="radio" name="cough"  value="no" reuired>
              <label class="form-check-label" for="no">
                No
              </label>
            </div>
          </div>
        </div>
      </fieldset>

      <!-- Runny Nose -->
      <fieldset class="form-group">
        <div class="row">
          <legend class="col-form-label col-sm-2 pt-0">Runny Nose</legend>
          <div class="col-sm-10">
            <div class="form-check-inline">
              <input class="form-check-input" type="radio" name="runny_nose" value="yes" required>
              <label class="form-check-label" for="yes">
                Yes
              </label>
            </div>
            <div class="form-check-inline">
              <input class="form-check-input" type="radio" name="runny_nose"  value="no" reuired>
              <label class="form-check-label" for="no">
                No
              </label>
            </div>
          </div>
        </div>
      </fieldset>

      <!-- Headache -->
      <fieldset class="form-group">
        <div class="row">
          <legend class="col-form-label col-sm-2 pt-0">Headache</legend>
          <div class="col-sm-10">
            <div class="form-check-inline">
              <input class="form-check-input" type="radio" name="headache" value="yes" required>
              <label class="form-check-label" for="yes">
                Yes
              </label>
            </div>
            <div class="form-check-inline">
              <input class="form-check-input" type="radio" name="headache"  value="no" reuired>
              <label class="form-check-label" for="no">
                No
              </label>
            </div>
          </div>
        </div>
      </fieldset>

      <!-- Muscle Ache -->
      <fieldset class="form-group">
        <div class="row">
          <legend class="col-form-label col-sm-2 pt-0">Muscle Ache</legend>
          <div class="col-sm-10">
            <div class="form-check-inline">
              <input class="form-check-input" type="radio" name="muscle_aches" value="yes" required>
              <label class="form-check-label" for="yes">
                Yes
              </label>
            </div>
            <div class="form-check-inline">
              <input class="form-check-input" type="radio" name="muscle_aches"  value="no" reuired>
              <label class="form-check-label" for="no">
                No
              </label>
            </div>
          </div>
        </div>
      </fieldset>

      <!-- Fatigue -->
      <fieldset class="form-group">
        <div class="row">
          <legend class="col-form-label col-sm-2 pt-0">Muscle Ache</legend>
          <div class="col-sm-10">
            <div class="form-check-inline">
              <input class="form-check-input" type="radio" name="fatigue" value="yes" required>
              <label class="form-check-label" for="yes">
                Yes
              </label>
            </div>
            <div class="form-check-inline">
              <input class="form-check-input" type="radio" name="fatigue"  value="no" reuired>
              <label class="form-check-label" for="no">
                No
              </label>
            </div>
          </div>
        </div>
      </fieldset>

      <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary">Predict</button>
    </div>
  </div>

    </form>
  </div>
</div>
{% endblock %}
