<!DOCTYPE html>
<html>
  <head>
    <title>EPMS-App | {% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets.css')}}">
    <script type="text/javascript">
      if (window.history.replaceState) {
            window.history.replaceState(null, null, window.location.href);
          }
    </script>
  </head>
  <body>
  <div class="container">

      {% block body %}

      {% block heading %}
      {% endblock %}

      {% endblock %}

      <footer>
              <div class="row">
                  <div class="col">
                      <!-- Footer -->
                  </div>
              </div>
          </footer>
    </div>
  </body>
</html>
